<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="zh-TW">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>職涯測驗結果</title>
	<style type="text/css">
		* { font-family:"標楷體"; margin-left:auto; margin-right:auto;}
		h1 {color:blue; font-size:60px;}
		h2 {color:#33ff33; font-size:40px;}
	</style>


</head>
<body bgcolor="#FFFFC9">
<table width="70%">
<tr>
<td>
</td>>
<td>

<h1>mis相關工作<h1>
<h2 id="h2text"></h2>


</td>
</tr>
</table>

<table width="90%" border="1">
<tr>
<td>

<h4>公司介紹:禹創科技有限公司<h4>
工作內容:<br>
1. 公司內部管理資訊系統MIS/IT服務的運作/維護<br>
2. 管理與維護公司網路和資料，並進行備份工作。<br>
3. 資訊產品採購、資訊設備盤點<br>
4. 處理個人電腦軟硬體的故障問題。<br>
5. 主管交辦事項<br>
6. 客戶端合作事宜<br>

</td>


<td>
<h4>職位:<h4>
	MIS資訊工程師

</td>
<td>
<h4>工作條件需求<h4><br>
學歷要求:
大學以上<br>
工作技能:
作業系統基本操作、資料備份與復原、電腦設備裝配、資訊設備環境設定、系統架構規劃與維護、安裝與維護網路安全系統、規劃與管理防火牆、網路系統配置<br>
其他條件:<br>
1、資訊相關系畢，具有電腦/網路故障排除經驗<br>
2、具有Mis資訊工程師1-3年經驗佳<br>
</td>
</tr>
</table>
	<?php echo date("Y-m-d") ?>

</body>
</html>